@import url('https://fonts.googleapis.com/css?family=Fascinate&display=swap');
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header p{
    font-family: 'Fascinate', cursive;
    font-size: 36px;
}
ul{
    display:inline-block;
}
li{
    display: inline-block;
    padding: 0.25em;
    
}
.gifs-display{
    max-width: 1250px;
}
img{
    width: 250px;
    height: 200px;
}
footer{
    font-family: 'Fascinate', cursive;

}